body{
    margin: 4px;
}
i{
    width: 20px;
    height: 20px;
    color: red;
}
nav ul {
    display: flex;
}

nav ul {
    list-style-type: none;
    gap: 20px;
}
nav a {
    text-decoration: none;
}

.container{
    box-shadow: 2px 2px 2px gray;
    width: 200px;
    height: 30vh;
    background-color: yellow;
    color: black;
    border-radius: 8px;
}

/* Hexadecimal colors #RRGGBB */
.background{
    background-color: #bfa;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}
/* RGB 0-255 */
.background-one{
    background-color: rgb(145, 50, 100);
    height: 100px;
    width: 100px;
    border-radius: 8px;
}
.background-two{
    background-color: rgba(77, 2, 42);
    height: 100px;
    width: 100px;
    border-radius: 8px;
}   
main{
    justify-content: center;
}

.glass{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.bg-img{
    width: 100%;
    height: 100vh;
}

.card{
    position: absolute;
    height: 60%;
    width: 40%;
    border: 2px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(2px);
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.8s, backdrop-filter 0.5s;
    z-index: 10;
}


.card:hover{
    backdrop-filter: blur(14px);
    cursor: pointer;
    transform: rotateY(180deg);
}
#logo {
    height: 90%;
    width: 75%;
    border-radius: 8px;
}

.box{
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid red;
    background-color: blueviolet;
}
.box-1{
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid red;
    background-color: blueviolet;
    box-sizing: border-box;
}